{block content} 
<div class="jumbotron">                                                                         
        <h1>Klasifikace hudebního žánru</h1>
        <p class="lead">Tento projekt vznikl pro předmět MI-VMW na FIT ČVUT.
        Jedná se jednoduchou aplikaci, která má za úkol identifikovat hudební žánr skladby, kterou uživatel nahraje. Výsledkem je buď samotný žánr, který je dle analýzy skladbě nejbližší, nebo více žánrů seřazených dle míry podobnosti.
        Aplikace také obsahuje funkci importu / rozšíření databáze o zvolenou skladbu.</p> 
        
        <p><a class="btn btn-lg btn-success" n:href="Homepage:find" role="button">Vyzkoušet aplikaci</a></p>
</div>
{/block}
