{block #content}
<div class="wrapper jumbotron">
{form uploadForm}
	<div style="float: left;">{input file}</div>
	<div style="float: left;">{input type}</div>
	<div style="float: right;">{input send class=>'button'}</div>
	<div class="clear"></div>
{/form}
</div>