{block #head}
<link rel="stylesheet" href="{$basePath}/fancybox/jquery.fancybox.css" />
{/block}
{block #footer}
<!-- Add fancyBox -->                                                             
<script src="{$basePath}/fancybox/jquery.fancybox.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox({
	        'titleShow':'true',
	        'titlePosition':'inside'   
	    });
	});
</script>

{/block}

{block #content}
<table class="table">
	{foreach $graphs as $key => $g}
		<tr>
			<td>{$key}</td>
			{foreach $g as $k => $i}  
				<td>
					<a href="{$basePath}/graphs/{$i}" rel="gal{$iterator->counter}" title="{$key} - {$k}" class="fancybox">
						<img src="{$basePath}/graphs/{$i}" width="150" height="150" alt="{$key} - {$k}" />
					</a>
				</td>
			{/foreach}
		</tr>
	{/foreach}
</table>
