{**
 * My Application layout template.
 *
 * @param string   $basePath web base path
 * @param string   $robots   tell robots how to index the content of a page (optional)
 * @param array    $flashes  flash messages
 *}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title>{block title|striptags|upper}MI-VMW{/block}</title>

	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/bootstrap.css">
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/bootstrap-theme.css">
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css">
	<link rel="stylesheet" media="print" href="{$basePath}/css/print.css">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	{block head}{/block}
</head>

<body>
	<script> document.documentElement.className+=' js' </script>

	<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>
    
    <nav class="navbar navbar-top navbar-inverse" role="navigation">
    	<div class="container">
		  <div class="navbar-header">
		    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		      <span class="sr-only">Toggle navigation</span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>
		    <a class="navbar-brand" n:href="Homepage:default">Klasifikace hudebního žánru</a>
		  </div>

		  <!-- Collect the nav links, forms, and other content for toggling -->
		  <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
		    <ul class="nav navbar-nav">
		      <li n:class="$presenter->getAction() == 'graphs'?active"><a n:href="Homepage:graphs">Grafy</a></li>
		      <li n:class="$presenter->getAction() == 'find'?active"><a n:href="Homepage:find">Zjisti žánr!</a></li>
		      <li n:class="$presenter->getAction() == 'default'?active"><a n:href="Homepage:default">O aplikaci</a></li>
		    </ul>
		  </div><!-- /.navbar-collapse -->
		</div>
	</nav>
	
	<div class="container">
	  <div class="header">
	  	<h3 class="text-muted">Jiří Levý, Filip Vorel | FIT ČVUT | MI-VMW 2013</h3>
	  </div>
	  
	  {include #content}
        
	</div> <!-- /container -->

	{block scripts}
	<script src="{$basePath}/js/jquery.js"></script>
	<script src="{$basePath}/js/netteForms.js"></script>
	<script src="{$basePath}/js/bootstrap.js"></script>
	<script src="{$basePath}/js/main.js"></script>
	{/block}
	{block #footer}{/block}
</body>
</html>
